[Unit]
Description=Displaying the current temperature and utilization on the Deepcool AK Series CPU cooler

[Service]
Type=simple
User=root
ExecStart=/opt/deepcool-ak-series-digital/venv/bin/python /opt/deepcool-ak-series-digital/deepcool-ak-series-digital.py
Restart=always

[Install]
WantedBy=multi-user.target
